<style>
   * {
      box-sizing: border-box;
   }

   *:focus {
      outline: none;
   }

   body {
      font-family: Arial;
      background-color: #237ee5;
      background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(83, 182, 240, 0.534)),
         url("../static/diabetes.jpg");
      padding: 50px;
   }

   .label {
      color: rgb(129, 126, 126);
   }

   .diagnostico {
      margin: 10px auto;
      width: 550px;
   }

   .diagnostico-screen {
      background-color: #FFF;
      padding: 10px;
      border-radius: 2px
   }

   .app-title {
      text-align: center;
      color: #777;
   }

   .app-sub {
      text-align: center;
      color: #2377e5;
   }

   .diagnostico-form {
      text-align: center;
   }

   .control-group {
      margin-bottom: 8px;
   }

   input {
      text-align: center;
      background-color: #ECF0F1;
      border: 2px solid transparent;
      border-radius: 3px;
      font-size: 16px;
      font-weight: 200;
      padding: 8px 0;
      width: 500px;
      transition: border .5s;
   }

   input:focus {
      border: 2px solid #3498DB;
      box-shadow: none;
   }

   .btn {
      border: 2px solid transparent;
      background: #2377e5;
      color: #ffffff;
      font-size: 16px;
      line-height: 20px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 500px;
      margin: 0 auto;
   }

   .btn:hover {
      background-color: #61a2f7;
      ;
   }

   .diagnostico-link {
      font-size: 12px;
      color: #444;
      display: block;
      margin-top: 12px;
   }
</style>
<title>Respuesta Diabetes</title>
{% block body %}

<form>
   <div class="diagnostico">
      <div class="diagnostico-screen">
         <div class="app-title">
            <h1>Resultados</h1>
         </div>
         <div class="diagnostico-form">
            <div class="control-group">
               <div class="app-title">
                  <label>Patient ID</label>
               </div>
               <input type="text" class="diagnostico-field" value={{PatientIDResult}} disabled>
            </div>
            <div class="control-group">
               <div class="app-title">
                  <label>Diabetes Prediction</label>
               </div>
               <input type="text" class="diagnostico-field" value={{DiabetesPredictionResult}} disabled>
            </div>
            <div class="control-group">
               <div class="app-title">
                  <label>Probability</label>
               </div>
               <input type="text" class="diagnostico-field" value={{ProbabilityResult}} placeholder="Age" name="Age"
                  disabled>
            </div>
         </div>
      </div>
   </div>
</form>
<center><a href="/" role="button">Regresar</a></center>
{% endblock %}